@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html {
  background-color: #1a1e21;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.username {
  margin-top: 25vh;
}

.logo {
  height: 100px;
}

.title {
  color: white;
}

.input {
  background-color: #26313c;
  color: #70d064;
  border: none;
  width: 500px;
  height: 75px;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 10px;
}

.button-container {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  color: #f5f8fa;
  margin-top: 1rem;
}

.submit-button {
  margin-top: 1rem;
  border-radius: 50px;
  width: 300px;
  height: 50px;
  background-color: #70d064;
  font-size: 1.5rem;
  border: none;
  color: #1a1e21;
}

.user-container {
  width: 40%;
  margin: 0 auto;
  color: white;
  margin-top: 5%;
}

.username-link {
  text-decoration: none;
  color: #71cf64;
  font-size: 24px;
}

.username-link:hover {
  color: white;
}

.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #71cf64;
}

.icons {
  width: 15px;
  height: 20px;
  margin-right: 10px;
}

.user-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.info {
  display: flex;
  align-items: center;
}

.github-stats {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.stats {
  line-height: 0.5;
  background-color: #222a2d;
  width: 150px;
}

.stats p {
  color: #949fb1;
}
