@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html {
  background-color: #1a1e21;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(231, 231, 231);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.username {
  margin-top: 25vh;
}

.logo {
  height: 100px;
}

.title {
  color: rgb(231, 231, 231);
}

.input {
  background-color: #26313c;
  color: #70d064;
  border: none;
  width: 500px;
  height: 75px;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 10px;
}

.button-container {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  color: #f5f8fa;
  margin-top: 1rem;
}

.submit-button {
  margin-top: 1rem;
  border-radius: 50px;
  width: 300px;
  height: 50px;
  background-color: #70d064;
  font-size: 1.5rem;
  border: none;
  color: #1a1e21;
}

.container {
  display: flex;
  justify-content: center;
}

.info-container {
  margin-top: 50px;
  display: flex;
  width: 100%;
}

.top-language-container {
  margin-left: 8%;
}

.user-container {
  width: 50%;
  margin: 0 auto;
  color: rgb(231, 231, 231);
  margin-top: 5%;
}

.user-container h1 {
  font-size: 2.5rem;
}

.user-container p {
  font-size: 1.2rem;
}

.username-link {
  text-decoration: none;
  color: #71cf64;
  font-size: 24px;
}

.username-link:hover {
  color: rgb(231, 231, 231);
}

.profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 7px solid #71cf64;
}

.icons {
  width: 15px;
  height: 20px;
  margin-right: 10px;
}

.user-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.info {
  display: flex;
  align-items: center;
}

.github-stats {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stats {
  line-height: 0.5;
  background-color: #222a2d;
  margin: 10px;
  width: 150px;
  box-shadow: 5px 5px 9px -4px rgba(0, 0, 0, 1);
}

.stats p {
  color: #949fb1;
}

.chart-container {
  display: flex;
  justify-content: space-evenly;
}

.chart {
  background-color: #222a2d;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
  width: 410px;
  height: 550px;
  border-radius: 10px;
  box-shadow: 10px 10px 18px -8px rgba(0, 0, 0, 1);
}

.chart h1 {
  color: rgb(231, 231, 231);
  padding: 10px;
  border-bottom: 2px dashed #949fb1;
}

.repo-data {
  display: flex;
  justify-content: center;
}

.repo-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222a2d;
  border-radius: 10px;
  box-shadow: 10px 10px 18px -8px rgba(0, 0, 0, 1);
  width: 80%;
}

.repo-container h1 {
  border-bottom: 2px dashed #949fb1;
  width: 25%;
  padding: 10px;
}

.repo-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.repo-cards a {
  text-decoration: none;
}

.top-repos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 5px 5px 9px -4px rgba(0, 0, 0, 1);
  width: 300px;
  height: 100px;
  margin: 10px;
  padding: 10px 0;
  color: black;
  border-radius: 10px;
  line-height: 0.5;
}

.top-repos p {
  color: black;
}

.repo-data {
  display: flex;
  justify-content: space-evenly;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container .star-icon,
.fork-icon {
  margin-right: 3px;
  margin-top: -3px;
  height: 15px;
}

.footer {
  width: 100%;
  margin-top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(231, 231, 231);
  height: 5vh;
  background-color: #222a2d;
}

.footer a {
  text-decoration: none;
  color: rgb(231, 231, 231);
}

.footer a:hover {
  color: #71cf64;
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github-corner svg {
  fill: #71cf64;
  color: #1a1e21;
}

.github-corner svg .octo-arm {
  transform-origin: 130px 106px;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

.calendar {
  background-color: white;
  margin: 20px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
}

.contrib-legend {
  display: none;
}

.text-muted {
  font-size: 16px;
}

.contrib-number {
  font-size: 24px;
  font-weight: 500;
}

.github-chart {
  margin-top: 30px;
  background-color: #222a2d;
  width: 87%;
  height: 25%;
  border-radius: 10px;
  box-shadow: 10px 10px 18px -8px rgba(0, 0, 0, 1);
}

@media only screen and (max-width: 950px) {
  .info-container {
    flex-direction: column;
  }

  .top-language-container {
    margin-bottom: 20px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 650px) {
  .calendar {
    display: none;
  }
}
